<!DOCTYPE html>
<html>
    <head>
        <title>{{ .title }}</title>
    </head>

    <body>
        <h1>Hello World!</h1>
        <h2>Recently greeted by:</h2>
        <ol>
            {{ range .greetings }}<li><b>{{ .Name }}</b> at <b>{{ .Time.Format "00:00 2006 Jan 2" }}</b></li>{{ end }}
        </ol>
    </body>
</html>
